<h2>Angular Wavesurfer Service: AngularWavesurferService</h2>
<p>This example demonstrates using the Angular Wavesurfer Service service across 3 different components.</p>
<p><b>Important:</b> In order for the play() method to work for each component, the provider must be set in each component, so that each component gets its own instance of the service.  They will still share the feature to stop one another's playback when their own begins.</p>
<app-aws1></app-aws1>
<app-aws2></app-aws2>
<app-aws3></app-aws3>
